
.counterWrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 300px;
}


.btnWrapper {
  display: flex;
  margin: 10px;
  align-content: space-between;
}